<div class="center">
	
	<h1>Welcome to the Game Application</h1>

	<h2>Our Top 10 High Scores List</h2>
	
	<% if @top_ten_high_score_list.blank? %>
		<h4>We need gamers! sign up today</h4>
	<% else %>
		<table class="center">
		  <tr>
			<th>Gamer Name</th>
		    <th>Gamer Score</th>
		    <th>Date</th>
		  </tr>
		<% @top_ten_high_score_list.each do |game| %>
		  <tr>
			<td><%= Gamer.find_by_id(game.gamer_id).name %></td>
			<td><%= number_with_delimiter game.score %></td>
			<td><%= standard_date game.created_at.to_date %></td>
		  </tr>
		<% end %>
		</table>
	<% end %>
	
	<% if gamer_signed_in? && !@top_ten_user_high_score_list.blank? %>
		<h2><%= current_gamer.name %>'s Top 10 High Scores List</h2>
			<table class="center">
			  <tr>
				<th>Gamer Name</th>
			    <th>Gamer Score</th>
			    <th>Date</th>
			  </tr>
			<% @top_ten_user_high_score_list.each do |game| %>
			  <tr>
				<td><%= Gamer.find_by_id(game.gamer_id).name %></td>
				<td><%= number_with_delimiter game.score %></td>
				<td><%= standard_date game.created_at.to_date %></td>
			  </tr>
			<% end %>
		</table>
	<% end %>
	
	<% if gamer_signed_in? %>
	</div>
		<div class="user">
		  <h4>Hello <%= current_gamer.name %></h4>
			<p>Click here to 
			<%= link_to 'Enter a score', new_game_path %>
			</p>
			<p>Click here to 
		  <%= link_to('Logout', destroy_gamer_session_path, :method => :delete) %>        
		  </p>
		</div>
	<% else %>
		<h4>Not a member? sign up for free
		<%= link_to('Register', new_gamer_registration_path)%>
		</h4>
		<h4>Otherwise Please login
		 <%= link_to('Login', new_gamer_session_path)  %>
		</h4>
	</div>
	<% end %>
