<%= form_for(@game) do %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= label_tag :score %><br />
    <%= number_field_tag "game[score]" %>
	<%= hidden_field_tag "gamer_id[current_gamer.id]"%>
  </div>
  <div class="actions">
    <%= submit_tag 'submit', :game => @game %>
  </div>
<% end %>

